
.home__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 0.5fr));
    padding: 30px;
  }


.search {
    position: absolute;
    top: 35px;
    left: 25%;
    width: 100vw;
}

.search > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 380px;
}

.search > input {
    width: 539px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 350px;
    border: none;
  }
  
.search > input:focus {
    outline-width: 0;
}

.search > button {
    position: absolute;
    left: 0;
    top: 400px;
    text-transform: inherit !important;
    background-color: #ff7779;
    color: white;
    width: 579px;
  }

.search > button:hover {
    background-color: white;
    color: #ff7779;
}


.banner {
    background: url("https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg") center center;
    height: 50vh;
    position: relative;
  }
  
  .banner__info {
      background-color: black;
      color: white;
      padding-top: 15vh;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 40px;
      width: 300px;
  }
  
  .banner__search {
      display: flex;
      flex-direction: column;
  }
  
  .banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
  }
  
  .banner__info > button {
      background-color: #ff7779;
      color: white;
      text-transform: inherit;
      margin-top: 20px;
      font-weight: 600;
  }
  
  .banner__info > button:hover {
      background-color: white;
      color: #ff7779;
    }
    
  
  .banner__info > h5 {
      margin-top: 10px;
  }


  .card {
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    border: 1px solid black;
    width: 20rem;  
    height: 25rem;
  }
  
  .card:hover {
    transform: scale(1.07);
  }
  
  .card > img {
    object-fit: fill;
    min-width: 300px;
    min-height: 150px;
    width: 100%;
  }
  
  .card__info {
      margin-top: -9px;
      border-radius: 10px;
      padding: 20px;
      padding-top: 20px;
      border: 1;
    }
  
    .card__info > h2 {
      font-size: 18px;
      font-weight: 600;
    }
    
    .card__info > h4 {
      font-size: 14px;
      font-weight: 300;
      margin-top: 8px;
      margin-bottom: 8px;
    }


    .add-modal{
      display: grid;
      background-color: #00000055;
      place-items: center;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
    }
    .modal{
      background-color: white;
      position: relative;  
      border-radius: 20px;
      padding: 2rem;
    }
    
    .firstname,.lastname,.phone,.email,.password,.profilepic{
      display: block;
      padding: 5px;
      margin-top: 0.5rem;
      border: 1px solid lightgray;
      border-radius: 5px;
    }
    .submit{
         margin-top: 0.5rem;
        height: 20px;
        color: #fff;
        background-color: #ff7779;
        border-radius: 5px;
        width: 5rem;
        justify-items: center;
        margin-left: 3rem;
        border: 1px;
    }
    
    .register_Button{
      margin-top: 0.5rem;
      height: 20px;
      color: #fff;
      background-color: #ff7779;
      border-radius: 5px;
      width: 5rem;
      justify-items: center;
      border: 1px;
    }
    
    .close-button{
      position: absolute;
      border: 1px;
      top: -0.5rem;
      right: 0;
      padding: 6px 11px;
      border-radius: 100%;
      background-color: #ff7779;
      color: #fff;
    }

