.searchPage__info {
    padding: 20px;
  }

.searchPage__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.searchPage__info > h1 {
    margin-bottom: 30px;
}

.searchPage__info > button {
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
  }



  .link {
    text-decoration: none;
    color: inherit;
  }
  .result {
    margin: 20px 0 20px 20px;
  }
  .result > h4 {
    font-weight: normal;
    margin: 6px;
  }
  .result button {
    margin: 20px 1% 0 0.5%;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 50px;
    padding: 12px;
    font-weight: bold;
    background-color: transparent;
    outline: 0;
    transition: 0.2s ease-out;
  }
  
  .result button:hover {
    background-color: #dddddd;
    opacity: 0.8;
  }
  .resultcont {
    display: flex;
    position: relative;
    padding: 8px 0 25px 0;
    margin: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd;
  }
  .resultcont img {
    position: relative;
    border-radius: 10px;
  }
  .resultcont h4 {
    margin-top: -6px;
    color: #464646;
    font-weight: normal;
  }
  .resultcont__info {
    padding: 0 0 0 2%;
  }
  
  .resultcont__icon {
    position: absolute;
    top: 0;
    right: 0;
  }
  .resultcont__price {
    position: absolute;
    bottom: 30px;
    right: 0;
    font-size: 20px;
  }
  .resultcont__star {
    color: red !important;
    font-size: 25px;
    position: absolute;
    bottom: 22px;
    left: 37%;
    opacity: 0px;
  }
  span {
    color: black;
    font-weight: bold;
  }
  button {
    border: none;
  }
  .resultcont__heart {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -35px;
    right: 0;
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png)
      no-repeat;
    background-position: 0 0;
    cursor: pointer;
    animation: fave-heart 1s steps(28);
    border: 0;
    outline: 0;
  }
  
  .marg {
    padding: 20px;
  }
 